
# Python virtual env
.venv
**/.venv

# VS Code files
.vscode

# Google AI Devcamp 2024
Google\ AI\ Devcamp\ 2024/Videos
Google\ AI\ Devcamp\ 2024/Data

Google\ AI\ Devcamp\ 2024/Hugging\ Face\ Course/.env
Google AI Devcamp 2024/Coins images/
